.question-style,
.answer-style {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.emoji-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

.joke-container {
  position: relative;
  margin-top: 20%;
  text-align: center;
  padding: 2rem;
}

.joke-options {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
}

.button-blue {
    outline: none;
    height: 40%;
    text-align: center;
    width: 30%;
    border-radius:40px;
    background: #fff;
    border: 2px solid  #90d5ff;;
    color:  black;
    text-shadow:0;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .button-blue:hover {
    color:white;
    background: lightblue;
  }